<div class="_sidebarLeft">
    <div class="inside">
      <div class="user-avatar">
        <img
          alt=""
          mat-card-avatar
          src="../../assets/ahmedKamel25.jpg">
          <span class="name">Ahmed Kamel</span>
      </div>
      <div class="img_lift"  >
        <!-- <mat-icon> local_hospital</mat-icon> -->
        <img src="../../assets/covid.png"/>
        <span class="covid">COVID-19 Information Center</span>
      </div>

      <div class="img_lift" >
        <!-- <mat-icon>flag</mat-icon> -->
        <img src="../../assets/friends.png" />
        <span>Friends</span>
      </div>

      <div class="img_lift" >
        <!-- <mat-icon>people</mat-icon> -->
        <img src="../../assets/watch.png" />
        <span>Watch</span>
      </div>

      <div class="img_lift">
        <!-- <mat-icon> chat</mat-icon> -->
        <img src="../../assets/Groups.png" />
        <span>Groups</span>
      </div>

      <div class="img_lift">
        <!-- <mat-icon>store</mat-icon> -->
        <img src="../../assets/marketPlace.png" />
        <span>Marketplace</span>
      </div>

      <div class="img_lift">
        <!-- <mat-icon>video_library</mat-icon> -->
        <img src="../../assets/events.png" />
        <span>Events</span>
      </div>
      <div class="img_lift">
        <!-- <mat-icon>video_library</mat-icon> -->
        <img src="../../assets/memorize.png" />
        <span>Memories</span>
      </div>

      <div class="img_lift" >
        <mat-icon class="see-more" >expand_more</mat-icon>
        <span>See More</span>
      </div>

    </div>
  </div>